In [2]:
import pandas as pd
import numpy as np
import os
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
train = pd.read_csv('/content/drive/Shared drives/#PA_Customer Revenue Prediction/input_train.csv', sep = ',')

In [71]:
train

         Unnamed: 0  ('channelGrouping', 'max')  ...  will_return  how_much
0                 0                           4  ...            0       NaN
1                 1                           4  ...            0       NaN
2                 2                           4  ...            0       NaN
3                 3                           4  ...            0       NaN
4                 4                           7  ...            0       NaN
...             ...                         ...  ...          ...       ...
1085208     1085208                           7  ...            0       NaN
1085209     1085209                           6  ...            0       NaN
1085210     1085210                           6  ...            0       NaN
1085211     1085211                           6  ...            0       NaN
1085212     1085212                           4  ...            0       NaN

[1085213 rows x 40 columns]

In [0]:
#train = train.drop(["('first_ses_from_the_period_start', '')","('last_ses_from_the_period_end', '')","('interval_dates', '')","unique_date_num"], axis = 1)

In [0]:
#train

In [0]:
X_real_test = pd.read_csv('/content/drive/Shared drives/#PA_Customer Revenue Prediction/input_test_v3.csv', sep = ',')

In [0]:
#X_real_test = X_real_test.drop(["('first_ses_from_the_period_start', '')","('last_ses_from_the_period_end', '')","('interval_dates', '')","unique_date_num"], axis = 1)

In [101]:
X_real_test

           fullVisitorId_str  ...  unique_date_num
0       0000018966949534117a  ...                1
1       0000039738481224681a  ...                1
2       0000073585230191399a  ...                1
3       0000087588448856385a  ...                1
4       0000149787903119437a  ...                1
...                      ...  ...              ...
296525  9999862054614696520a  ...                1
296526  9999898168621645223a  ...                1
296527   999990167740728398a  ...                1
296528  9999915620249883537a  ...                1
296529  9999947552481876143a  ...                1

[296530 rows x 38 columns]

In [74]:
train["('first_ses_from_the_period_start', '')"] = train["('first_ses_from_the_period_start', '')"].str.split(' ').str[0].astype('int64')
train.loc[:,"('last_ses_from_the_period_end', '')"] = train.loc[:,"('last_ses_from_the_period_end', '')"].str.split(' ').str[0].astype('int64')
train.loc[:,"('interval_dates', '')"] = train.loc[:,"('interval_dates', '')"].str.split(' ').str[0].astype('int64')
train

         Unnamed: 0  ('channelGrouping', 'max')  ...  will_return  how_much
0                 0                           4  ...            0       NaN
1                 1                           4  ...            0       NaN
2                 2                           4  ...            0       NaN
3                 3                           4  ...            0       NaN
4                 4                           7  ...            0       NaN
...             ...                         ...  ...          ...       ...
1085208     1085208                           7  ...            0       NaN
1085209     1085209                           6  ...            0       NaN
1085210     1085210                           6  ...            0       NaN
1085211     1085211                           6  ...            0       NaN
1085212     1085212                           4  ...            0       NaN

[1085213 rows x 40 columns]

In [0]:
#train.tail()

In [0]:
#train.shape

In [0]:
train_reg = train[train.loc[:,"will_return"] ==1]

In [76]:
X_train_reg = train_reg.iloc[:,1:38]
#X_train_reg = X_train_reg.drop(["('date', 'min')",	"('date', 'max')",	"('tf_mindate', 'min')",	"('tf_maxdate', 'max')"], axis=1)
X_train_reg.loc[:,"('totals_hits', 'std')"].fillna(0, inplace = True)
X_train_reg.loc[:,"('totals_pageviews', 'std')"].fillna(0, inplace = True)
X_train_reg

         ('channelGrouping', 'max')  ...  unique_date_num
876                               4  ...                1
1364                              6  ...                1
2294                              6  ...                1
2489                              4  ...                2
2544                              2  ...                1
...                             ...  ...              ...
1084540                           1  ...                1
1084597                           6  ...                3
1084744                           4  ...                1
1084766                           4  ...                1
1085151                           3  ...                2

[6230 rows x 37 columns]

In [77]:
X_train = train.iloc[:,1:38]
#X_train = X_train.drop(["('date', 'min')",	"('date', 'max')",	"('tf_mindate', 'min')",	"('tf_maxdate', 'max')"], axis=1)
#X_train.loc[:,"('totals_hits', 'std')"].fillna(0, inplace = True)
#X_train.loc[:,"('totals_pageviews', 'std')"].fillna(0, inplace = True)
X_train

         ('channelGrouping', 'max')  ...  unique_date_num
0                                 4  ...                1
1                                 4  ...                1
2                                 4  ...                1
3                                 4  ...                1
4                                 7  ...                1
...                             ...  ...              ...
1085208                           7  ...                1
1085209                           6  ...                1
1085210                           6  ...                1
1085211                           6  ...                1
1085212                           4  ...                1

[1085213 rows x 37 columns]

In [78]:
y_train_reg = train_reg.iloc[:,38:40]
y_train_reg.loc[:,"how_much"].fillna(0, inplace = True)
y_train_reg

         will_return  how_much
876                1       0.0
1364               1       0.0
2294               1       0.0
2489               1       0.0
2544               1       0.0
...              ...       ...
1084540            1       0.0
1084597            1       0.0
1084744            1       0.0
1084766            1       0.0
1085151            1       0.0

[6230 rows x 2 columns]

In [79]:
y_train = train.iloc[:,38:40]
y_train.loc[:,"how_much"].fillna(0, inplace = True)
y_train

         will_return  how_much
0                  0       0.0
1                  0       0.0
2                  0       0.0
3                  0       0.0
4                  0       0.0
...              ...       ...
1085208            0       0.0
1085209            0       0.0
1085210            0       0.0
1085211            0       0.0
1085212            0       0.0

[1085213 rows x 2 columns]

In [0]:
from sklearn.model_selection import cross_val_score, train_test_split
X_train_reg, X_test_reg, y_train_reg, y_test_reg = train_test_split(X_train_reg, y_train_reg, test_size=0.15,random_state=45)

In [0]:
from sklearn.model_selection import cross_val_score, train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_train, y_train, test_size=0.15,random_state=45)

In [0]:
import lightgbm as lgb
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import KFold

# for return players label training 
lgb_model2 = lgb.LGBMRegressor(objective = 'regression',metric = 'rmse')

params_opt = {'max_bin':[256], 'learning_rate':[0.01,0.02], 'num_leaves':[5,10,15], 'bagging_fraction':[0.8,0.9,1],'feature_fraction':[0.9,1],'min_data':[1,2], 'bagging_freq':[0,1]}
gridSearchCV_reg = GridSearchCV(estimator = lgb_model2, param_grid = params_opt, cv = 3)
gridSearchCV_reg.fit(X_train_reg,y_train_reg.loc[:,"how_much"])

GridSearchCV(cv=3, error_score='raise-deprecating',
             estimator=LGBMRegressor(boosting_type='gbdt', class_weight=None,
                                     colsample_bytree=1.0,
                                     importance_type='split', learning_rate=0.1,
                                     max_depth=-1, metric='rmse',
                                     min_child_samples=20,
                                     min_child_weight=0.001, min_split_gain=0.0,
                                     n_estimators=100, n_jobs=-1, num_leaves=31,
                                     objective='regression', random_state=None,
                                     re...ilent=True,
                                     subsample=1.0, subsample_for_bin=200000,
                                     subsample_freq=0),
             iid='warn', n_jobs=None,
             param_grid={'bagging_fraction': [0.8, 0.9, 1],
                         'bagging_freq': [0, 1], 'feature_fraction': [0.9, 1],
                         'learning_rate': [0.01, 0.02], 'max_bin': [256],
                         'min_data': [1, 2], 'num_leaves': [5, 10, 15]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [0]:
gridSearchCV_reg.best_estimator_, gridSearchCV_reg.best_score_, gridSearchCV_reg.best_params_

(LGBMRegressor(bagging_fraction=0.8, bagging_freq=1, boosting_type='gbdt',
               class_weight=None, colsample_bytree=1.0, feature_fraction=0.9,
               importance_type='split', learning_rate=0.02, max_bin=256,
               max_depth=-1, metric='rmse', min_child_samples=20,
               min_child_weight=0.001, min_data=2, min_split_gain=0.0,
               n_estimators=100, n_jobs=-1, num_leaves=15,
               objective='regression', random_state=None, reg_alpha=0.0,
               reg_lambda=0.0, silent=True, subsample=1.0,
               subsample_for_bin=200000, subsample_freq=0),
 0.11703032705631884,
 {'bagging_fraction': 0.8,
  'bagging_freq': 1,
  'feature_fraction': 0.9,
  'learning_rate': 0.02,
  'max_bin': 256,
  'min_data': 2,
  'num_leaves': 15})

In [0]:
#X_test

In [82]:
import lightgbm as lgb
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import KFold

from sklearn.metrics import mean_squared_error
lgb_model_re = lgb.LGBMRegressor(objective = 'regression', metric = 'rmse',bagging_fraction = 0.8,\
  bagging_freq = 1,feature_fraction = 0.9,learning_rate =  0.02,max_bin =  256,min_data=  2,num_leaves= 15)
lgb_model_re.fit(X_train_reg,y_train_reg.loc[:,"how_much"])
mean_squared_error(y_test.loc[:,"how_much"], lgb_model_re.predict(X_test))

0.737362072365456

In [83]:
from sklearn.metrics import mean_absolute_error
#lgb_model_re = lgb.LGBMRegressor(objective = 'regression',metric = 'rmse', bagging_fraction = 0.8, \
#                                 bagging_freq = 0, feature_fraction = 0.9, learning_rate = 0.02, max_bin = 256,\
#                                 num_leaves = 10, min_data = 2)
#lgb_model_re.fit(X_train_reg,y_train_reg.loc[:,"how_much"])
mean_absolute_error(y_test.loc[:,"how_much"], lgb_model_re.predict(X_test))

0.6133837212470491

In [0]:
# for return players label training 
lgb_model1 = lgb.LGBMClassifier(objective = 'binary',metric = 'binary_logloss')

params_opt = {'max_bin':[256], 'learning_rate':[0.01,0.02], 'num_leaves':[5,10,15], 'bagging_fraction':[0.8,0.9],'feature_fraction':[0.8,0.9],'min_data':[1,2], 'bagging_freq':[1,2]}
gridSearchCV = GridSearchCV(estimator = lgb_model1, param_grid = params_opt, cv = 3)
gridSearchCV.fit(X_train,y_train.loc[:,"will_return"])
gridSearchCV.best_estimator_, gridSearchCV.best_score_, gridSearchCV.best_params_

(LGBMClassifier(bagging_fraction=0.9, bagging_freq=1, boosting_type='gbdt',
                class_weight=None, colsample_bytree=1.0, feature_fraction=0.8,
                importance_type='split', learning_rate=0.01, max_bin=256,
                max_depth=-1, metric='binary_logloss', min_child_samples=20,
                min_child_weight=0.001, min_data=1, min_split_gain=0.0,
                n_estimators=100, n_jobs=-1, num_leaves=15, objective='binary',
                random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=True,
                subsample=1.0, subsample_for_bin=200000, subsample_freq=0),
 0.9934651273908514,
 {'bagging_fraction': 0.9,
  'bagging_freq': 1,
  'feature_fraction': 0.8,
  'learning_rate': 0.01,
  'max_bin': 256,
  'min_data': 1,
  'num_leaves': 15})

In [84]:
from sklearn.metrics import accuracy_score
lgb_model = lgb.LGBMClassifier(objective = 'binary',metric = 'binary_logloss',bagging_fraction=0.9,\
                                bagging_freq=1,feature_fraction=0.8,learning_rate=0.01,max_bin=256,min_data=1,num_leaves= 15)
lgb_model.fit(X_train,y_train.loc[:,"will_return"])
#mean_squared_error(y_test.loc[:,"how_much"], lgb_model_re.predict(X_test))
accuracy_score(y_test.loc[:,"will_return"], lgb_model.predict(X_test))

0.9944588468012434

In [0]:
#from sklearn.metrics import f1_score
#f1_score(y_test.loc[:,"will_return"], lgb_model.predict(X_test))

In [85]:
from sklearn.metrics import precision_recall_fscore_support
precision_recall_fscore_support(y_test.loc[:,"will_return"], lgb_model.predict(X_test),average='weighted')

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/classification.py:1437: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

(0.9889483979812589, 0.9944588468012434, 0.9916959676228526, None)

In [0]:
#X_real_test.shape

(296530, 34)

In [0]:
fullVisitorId = X_real_test['fullVisitorId_str']

In [104]:
X_real_test

           fullVisitorId_str  ...  unique_date_num
0       0000018966949534117a  ...                1
1       0000039738481224681a  ...                1
2       0000073585230191399a  ...                1
3       0000087588448856385a  ...                1
4       0000149787903119437a  ...                1
...                      ...  ...              ...
296525  9999862054614696520a  ...                1
296526  9999898168621645223a  ...                1
296527   999990167740728398a  ...                1
296528  9999915620249883537a  ...                1
296529  9999947552481876143a  ...                1

[296530 rows x 38 columns]

In [0]:
X_test_final = X_real_test.iloc[:,1:38]

In [106]:
X_test_final.shape

(296530, 37)

In [0]:
#new = pd.read_csv('/content/drive/Shared drives/#PA_Customer Revenue Prediction/input_train.csv', sep = ',')

In [0]:
#pr_lgb_sum = 0
#for i in range(1, 11):
#  lgb_model_re = lgb.LGBMRegressor(objective = 'regression', metric = 'rmse',bagging_fraction = 0.9,\
#                                  bagging_freq = 1,feature_fraction = 0.8,learning_rate =  0.01,max_bin =  256,min_data=  1,num_leaves= 9)
#  lgb_model_re.fit(X_train_reg,y_train_reg.loc[:,"how_much"])
#  pr_lgb_re = lgb_model_re.predict(X_test_final)
#  lgb_model = lgb.LGBMClassifier(objective = 'binary',metric = 'binary_logloss',bagging_fraction=0.9,\
#                                  bagging_freq=1,feature_fraction=0.8,learning_rate=0.01,max_bin=256,min_data=1,num_leaves= 15)
#  lgb_model.fit(X_train,y_train.loc[:,"will_return"])
#  pr_lgb = lgb_model.predict(X_test_final)
#  pr_lgb_sum = pr_lgb_sum + pr_lgb*pr_lgb_re

#pr_final = pr_lgb_sum/10


pr_lgb_re = lgb_model_re.predict(X_test_final)
pr_lgb = lgb_model.predict(X_test_final)
pr_lgb_product = pr_lgb_re*pr_lgb

In [0]:
#pr_lgb_product

In [0]:
#pr_lgb_product

In [0]:
#fullVisitorId = fullVisitorId.values.astype('str')

In [0]:
#fullVisitorId = ['\t' + x for x in fullVisitorId]

In [0]:
#fullVisitorId

In [0]:
results_v1 = np.column_stack((fullVisitorId, pr_lgb_product))

In [116]:
results_v1 = pd.DataFrame(results_v1)
results_v1

                           0  1
0       0000018966949534117a  0
1       0000039738481224681a  0
2       0000073585230191399a  0
3       0000087588448856385a  0
4       0000149787903119437a  0
...                      ... ..
296525  9999862054614696520a  0
296526  9999898168621645223a  0
296527   999990167740728398a  0
296528  9999915620249883537a  0
296529  9999947552481876143a  0

[296530 rows x 2 columns]

In [0]:
#results_v1.to_csv ('/content/drive/Shared drives/#PA_Customer Revenue Prediction/results_v1.csv', index = None, header=True) #Don't forget to add '.csv' at the end of the path

In [0]:
#results_v1 = results_v1.drop_duplicates()

In [117]:
results_v1.shape

(296530, 2)

In [111]:
len(results_v1.iloc[:,0].unique())

296530

In [118]:
subm_df = pd.read_csv('/content/drive/Shared drives/#PA_Customer Revenue Prediction/tst4.csv')
subm_df['PredictedLogRevenue'] = pr_lgb_product

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
subm_df.to_csv('/content/drive/Shared drives/#PA_Customer Revenue Prediction/sum_df_report_v3.csv', index = None, header=True)