In [1]:
import pandas as pd
import numpy as np
import os
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
train = pd.read_csv('/content/drive/Shared drives/#PA_Customer Revenue Prediction/input_train_v3.csv', sep = ',')

In [3]:
train

         Unnamed: 0  ('channelGrouping', 'max')  ...  will_return  how_much
0                 0                           4  ...            0       NaN
1                 1                           4  ...            0       NaN
2                 2                           4  ...            0       NaN
3                 3                           4  ...            0       NaN
4                 4                           7  ...            0       NaN
...             ...                         ...  ...          ...       ...
1051368     1051368                           3  ...            0       NaN
1051369     1051369                           2  ...            0       NaN
1051370     1051370                           7  ...            0       NaN
1051371     1051371                           4  ...            0       NaN
1051372     1051372                           4  ...            0       NaN

[1051373 rows x 40 columns]

In [4]:
train = train.loc[:,["('device_operatingSystem', 'max')",\
                                "(('geoNetwork_networkDomain', 'max'))",\
                                "('trafficSource_source', 'max')",\
                                "('channelGrouping', 'max')",\
                                "('deviceCategory', 'max')",\
                                "('geoNetwork_region', 'max')",\
                                "('totals_pageviews', 'sum')",\
                                "('channelGrouping', 'max')",\
                                "('totals_pageviews', 'sum')",\
                                "('totals_hits', 'sum')", \
                                "('visitNumber', 'count')",\
                                "('device_browser', 'max')" ,\
                                "('geoNetwork_subContinent', 'max')", \
                                "('geoNetwork_subContinent', 'max')", \
                                "('geoNetwork_country', 'max')", \
                                "('geoNetwork_region', 'max')" , \
                                "('geoNetwork_metro', 'max')", \
                                "('geoNetwork_city', 'max')",\
                                "('geoNetwork_networkDomain', 'max')",\
                                "('device_isMobile', 'mean')",\
                                "('trafficSource_isTrueDirect', 'mean')",\
                                "('totals_bounces', 'sum')",\
                                "will_return",\
                                "how_much"]]
train

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1418: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

         ('device_operatingSystem', 'max')  ...  how_much
0                                        7  ...       NaN
1                                       20  ...       NaN
2                                        1  ...       NaN
3                                       20  ...       NaN
4                                        7  ...       NaN
...                                    ...  ...       ...
1051368                                  1  ...       NaN
1051369                                  1  ...       NaN
1051370                                 20  ...       NaN
1051371                                  7  ...       NaN
1051372                                 23  ...       NaN

[1051373 rows x 24 columns]

In [0]:
X_real_test = pd.read_csv('/content/drive/Shared drives/#PA_Customer Revenue Prediction/input_test_v3.csv', sep = ',')

In [6]:
X_real_test = X_real_test.loc[:,["('device_operatingSystem', 'max')",\
                                "(('geoNetwork_networkDomain', 'max'))",\
                                "('trafficSource_source', 'max')",\
                                "('channelGrouping', 'max')",\
                                "('deviceCategory', 'max')",\
                                "('geoNetwork_region', 'max')",\
                                "('totals_pageviews', 'sum')",\
                                "('channelGrouping', 'max')",\
                                "('totals_pageviews', 'sum')",\
                                "('totals_hits', 'sum')", \
                                "('visitNumber', 'count')",\
                                "('device_browser', 'max')" ,\
                                "('geoNetwork_subContinent', 'max')", \
                                "('geoNetwork_subContinent', 'max')", \
                                "('geoNetwork_country', 'max')", \
                                "('geoNetwork_region', 'max')" , \
                                "('geoNetwork_metro', 'max')", \
                                "('geoNetwork_city', 'max')",\
                                "('geoNetwork_networkDomain', 'max')",\
                                "('device_isMobile', 'mean')",\
                                "('trafficSource_isTrueDirect', 'mean')",\
                                "('totals_bounces', 'sum')",\
                                "will_return",\
                                "how_much",\
                                 "fullVisitorId_str"]]
X_real_test

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1418: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

        ('device_operatingSystem', 'max')  ...     fullVisitorId_str
0                                       7  ...  0000018966949534117a
1                                       1  ...  0000039738481224681a
2                                      21  ...  0000073585230191399a
3                                      18  ...  0000087588448856385a
4                                       1  ...  0000149787903119437a
...                                   ...  ...                   ...
296525                                  7  ...  9999862054614696520a
296526                                 21  ...  9999898168621645223a
296527                                  0  ...   999990167740728398a
296528                                 18  ...  9999915620249883537a
296529                                 18  ...  9999947552481876143a

[296530 rows x 25 columns]

In [7]:
train_reg = train[train.loc[:,"will_return"] ==1]
train_reg

         ('device_operatingSystem', 'max')  ...  how_much
415                                      7  ...       0.0
875                                      1  ...       0.0
909                                      7  ...       0.0
1581                                     6  ...       0.0
1633                                     6  ...       0.0
...                                    ...  ...       ...
1050925                                  7  ...       0.0
1051058                                 20  ...       0.0
1051167                                  7  ...       0.0
1051341                                  7  ...       0.0
1051344                                  6  ...       0.0

[6879 rows x 24 columns]

In [9]:
X_train_reg = train_reg.iloc[:,1:22]
#X_train_reg = X_train_reg.drop(["('date', 'min')",	"('date', 'max')",	"('tf_mindate', 'min')",	"('tf_maxdate', 'max')"], axis=1)
#X_train_reg.loc[:,"('totals_hits', 'std')"].fillna(0, inplace = True)
#X_train_reg.loc[:,"('totals_pageviews', 'std')"].fillna(0, inplace = True)
X_train_reg

         (('geoNetwork_networkDomain', 'max'))  ...  ('totals_bounces', 'sum')
415                                        NaN  ...                        0.0
875                                        NaN  ...                        0.0
909                                        NaN  ...                        0.0
1581                                       NaN  ...                        0.0
1633                                       NaN  ...                        1.0
...                                        ...  ...                        ...
1050925                                    NaN  ...                        0.0
1051058                                    NaN  ...                        2.0
1051167                                    NaN  ...                        1.0
1051341                                    NaN  ...                        0.0
1051344                                    NaN  ...                        1.0

[6879 rows x 21 columns]

In [10]:
X_train_reg_features = X_train_reg.loc[:,["('device_operatingSystem', 'max')",\
                                "(('geoNetwork_networkDomain', 'max'))",\
                                "('trafficSource_source', 'max')",\
                                "('channelGrouping', 'max')",\
                                "('deviceCategory', 'max')",\
                                "('geoNetwork_region', 'max')",\
                                "('totals_pageviews', 'sum')",\
                                "('channelGrouping', 'max')",\
                                "('totals_pageviews', 'sum')",\
                                "('totals_hits', 'sum')", \
                                "('visitNumber', 'count')",\
                                "('device_browser', 'max')" ,\
                                "('geoNetwork_subContinent', 'max')", \
                                "('geoNetwork_subContinent', 'max')", \
                                "('geoNetwork_country', 'max')", \
                                "('geoNetwork_region', 'max')" , \
                                "('geoNetwork_metro', 'max')", \
                                "('geoNetwork_city', 'max')",\
                                "('geoNetwork_networkDomain', 'max')",\
                                "('device_isMobile', 'mean')",\
                                "('trafficSource_isTrueDirect', 'mean')",\
                                "('totals_bounces', 'sum')"]]
X_train_reg_features

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1418: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

         ('device_operatingSystem', 'max')  ...  ('totals_bounces', 'sum')
415                                    NaN  ...                        0.0
875                                    NaN  ...                        0.0
909                                    NaN  ...                        0.0
1581                                   NaN  ...                        0.0
1633                                   NaN  ...                        1.0
...                                    ...  ...                        ...
1050925                                NaN  ...                        0.0
1051058                                NaN  ...                        2.0
1051167                                NaN  ...                        1.0
1051341                                NaN  ...                        0.0
1051344                                NaN  ...                        1.0

[6879 rows x 30 columns]

In [11]:
X_train = train.iloc[:,1:22]
#X_train = X_train.drop(["('date', 'min')",	"('date', 'max')",	"('tf_mindate', 'min')",	"('tf_maxdate', 'max')"], axis=1)
#X_train.loc[:,"('totals_hits', 'std')"].fillna(0, inplace = True)
#X_train.loc[:,"('totals_pageviews', 'std')"].fillna(0, inplace = True)
X_train

         (('geoNetwork_networkDomain', 'max'))  ...  ('totals_bounces', 'sum')
0                                          NaN  ...                        0.0
1                                          NaN  ...                        0.0
2                                          NaN  ...                        0.0
3                                          NaN  ...                        0.0
4                                          NaN  ...                        1.0
...                                        ...  ...                        ...
1051368                                    NaN  ...                        1.0
1051369                                    NaN  ...                        1.0
1051370                                    NaN  ...                        0.0
1051371                                    NaN  ...                        0.0
1051372                                    NaN  ...                        0.0

[1051373 rows x 21 columns]

In [12]:
y_train_reg = train_reg.iloc[:,22:25]
#y_train_reg.loc[:,"how_much"].fillna(0, inplace = True)
y_train_reg

         will_return  how_much
415                1       0.0
875                1       0.0
909                1       0.0
1581               1       0.0
1633               1       0.0
...              ...       ...
1050925            1       0.0
1051058            1       0.0
1051167            1       0.0
1051341            1       0.0
1051344            1       0.0

[6879 rows x 2 columns]

In [13]:
y_train = train.iloc[:,22:25]
y_train.loc[:,"how_much"].fillna(0, inplace = True)
y_train

         will_return  how_much
0                  0       0.0
1                  0       0.0
2                  0       0.0
3                  0       0.0
4                  0       0.0
...              ...       ...
1051368            0       0.0
1051369            0       0.0
1051370            0       0.0
1051371            0       0.0
1051372            0       0.0

[1051373 rows x 2 columns]

In [0]:
from sklearn.model_selection import cross_val_score, train_test_split
X_train_reg, X_test_reg, y_train_reg, y_test_reg = train_test_split(X_train_reg, y_train_reg, test_size=0.15,random_state=45)

In [0]:
from sklearn.model_selection import cross_val_score, train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_train, y_train, test_size=0.15,random_state=45)

In [16]:
import lightgbm as lgb
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import KFold

from sklearn.metrics import mean_squared_error
lgb_model_re = lgb.LGBMRegressor(objective = 'regression', metric = 'rmse',bagging_fraction = 0.8,\
  bagging_freq = 1,feature_fraction = 0.9,learning_rate =  0.02,max_bin =  256,min_data=  2,num_leaves= 15)
lgb_model_re.fit(X_train_reg,y_train_reg.loc[:,"how_much"])
mean_squared_error(y_test.loc[:,"how_much"], lgb_model_re.predict(X_test))

0.6738925981947226

In [17]:
from sklearn.metrics import mean_absolute_error
#lgb_model_re = lgb.LGBMRegressor(objective = 'regression',metric = 'rmse', bagging_fraction = 0.8, \
#                                 bagging_freq = 0, feature_fraction = 0.9, learning_rate = 0.02, max_bin = 256,\
#                                 num_leaves = 10, min_data = 2)
#lgb_model_re.fit(X_train_reg,y_train_reg.loc[:,"how_much"])
mean_absolute_error(y_test.loc[:,"how_much"], lgb_model_re.predict(X_test))

0.5886683357195858

In [18]:
from sklearn.metrics import accuracy_score
lgb_model = lgb.LGBMClassifier(objective = 'binary',metric = 'binary_logloss',bagging_fraction=0.8,\
  bagging_freq=0,feature_fraction=1,learning_rate=0.02,max_bin=256,min_data=2,num_leaves= 15)
lgb_model.fit(X_train,y_train.loc[:,"will_return"])
#mean_squared_error(y_test.loc[:,"how_much"], lgb_model_re.predict(X_test))
accuracy_score(y_test.loc[:,"will_return"], lgb_model.predict(X_test))

0.9934117915615132

In [20]:
from sklearn.metrics import precision_recall_fscore_support
precision_recall_fscore_support(y_test.loc[:,"will_return"], lgb_model.predict(X_test),average='weighted')

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/classification.py:1437: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

(0.9868669876134553, 0.9934117915615132, 0.9901285743277417, None)

In [21]:
X_test_final = X_real_test.iloc[:,1:22]
X_real_test

        ('device_operatingSystem', 'max')  ...     fullVisitorId_str
0                                       7  ...  0000018966949534117a
1                                       1  ...  0000039738481224681a
2                                      21  ...  0000073585230191399a
3                                      18  ...  0000087588448856385a
4                                       1  ...  0000149787903119437a
...                                   ...  ...                   ...
296525                                  7  ...  9999862054614696520a
296526                                 21  ...  9999898168621645223a
296527                                  0  ...   999990167740728398a
296528                                 18  ...  9999915620249883537a
296529                                 18  ...  9999947552481876143a

[296530 rows x 25 columns]

In [22]:
fullVisitorId = X_real_test['fullVisitorId_str']
fullVisitorId

0         0000018966949534117a
1         0000039738481224681a
2         0000073585230191399a
3         0000087588448856385a
4         0000149787903119437a
                  ...
296525    9999862054614696520a
296526    9999898168621645223a
296527     999990167740728398a
296528    9999915620249883537a
296529    9999947552481876143a
Name: fullVisitorId_str, Length: 296530, dtype: object

In [0]:
pr_lgb_re = lgb_model_re.predict(X_test_final)
pr_lgb = lgb_model.predict(X_test_final)
pr_lgb_product = pr_lgb_re*pr_lgb

In [0]:
results_v1 = np.column_stack((fullVisitorId, pr_lgb_product))

In [25]:
results_v1 = pd.DataFrame(results_v1)
results_v1

                           0  1
0       0000018966949534117a  0
1       0000039738481224681a  0
2       0000073585230191399a  0
3       0000087588448856385a  0
4       0000149787903119437a  0
...                      ... ..
296525  9999862054614696520a  0
296526  9999898168621645223a  0
296527   999990167740728398a  0
296528  9999915620249883537a  0
296529  9999947552481876143a  0

[296530 rows x 2 columns]

In [26]:
subm_df_features = pd.read_csv('/content/drive/Shared drives/#PA_Customer Revenue Prediction/tst4.csv')
subm_df_features['PredictedLogRevenue'] = pr_lgb_product

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
subm_df_features.to_csv('/content/drive/Shared drives/#PA_Customer Revenue Prediction/sum_df_features_v2.csv', index = None, header=True)